

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}






.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
#btn-AddPost{

}


.banner {
  background-size: cover;
  background-position: center;
  padding: 132px 0;
  display: flex;
  background-color: #42539a3d;
}

.banner-img img{
  width: 200px;
  height: 100%;
  display:block;

}


.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.container{
  padding: 10px 42px;
  max-width: 960px;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #670BFF;
  transition: background 0.3s ease;
  text-decoration: none;
  display: block;
}

.btn-flat:hover {
  background: #4D04C4;
  color: white;
  display: block;
}

.btn-flatt {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #670BFF;
  transition: background 0.3s ease;
  text-decoration: none;
}
.btn-flatt:hover {
  background: #4D04C4;
  color: white;
  display: block;
}


.jobs{
  justify-content: center;
  width: 70%;
  align-items: center;
  background-color: white;
  border-radius: 1%;
  margin: 0 auto;
  margin-top: -55px;
  width: 56%;
  padding: 11px;
  position: absolute;
  margin-left: 23%;


}
.job{
  width: 250px;
  padding-top: 438px;
  margin: 0px 12px;
  padding-top: 442px;
}

.jobb {
  background-color: white;
  border-radius: 6px;
  padding: 10px;
}
.jobb h2{
  font-size: 21px;
  color: #292929;
}



.flex_category{
  display: flex;
  justify-content: space-evenly;

}

.flex_category1{
  display: flex;
  justify-content: space-evenly;
}

.flex_category2{
  display: flex;
  justify-content: space-evenly;
}

.flex_category2 h4{
  font-size: 17px;
}

.flex_category h4{
  font-size: 17px;
}

.flex_category1 h4{
  font-size: 17px;
}

.category{
  border: 2px #82839526 solid;
  padding: 10px;
  background-color: white;
}

.category p{
  color: #2c2c2c40;
  font-size: 12px;
  margin-bottom: 0px;
}

.title-job {
  text-align: center;
  margin-top: 25px;
  position: absolute;
  margin-top: 266px;
  color: white;
  font-weight: bolder;
  text-align: center;
  align-items: center;
  margin-left: 36%;

}
.title-job h1{
  text-align: center;
  position: absolute;
  color: white;
  font-weight: bolder;
  text-align: center;
  align-items: center;
  margin-left: 40%;
  margin-top:74px;
  width: 386px;
}

.bigcontainer{
  background: #4D04C4;
  height: 800px;

}

.annonce-job{
  justify-content: center;
  display: flex;
}
