{% extends 'bases.html' %}

  {% block content %}
  <h1>{% block title %} Create a New Job {% endblock %}</h1>

  <form method="post">
    <div>
      <label for="title">Title</label>
      <textarea name="title" placeholder="Job title">{{ request.form['title'] }}</textarea>
    </div>
    <div>
      <label for="description">Description</label>
      <textarea name="description" placeholder="Job description">{{ request.form['description'] }}</textarea>
    </div>
    <div>
      <label for="location">Location</label>
      <textarea name="location" placeholder="Job location">{{ request.form['location'] }}</textarea>
    </div>
    <div>
      <label for="postalcode"></label>Postale code</label>
      <textarea name="postalcode" placeholder="Job postalcode">{{ request.form['postalcode'] }}</textarea>
    </div>
    <div>
      <label for="contract">Contract</label>
      <textarea name="contract" placeholder="Job contract">{{ request.form['contract'] }}</textarea>
    </div>
    <div>
      <label for="worktime">Work Time</label>
      <textarea name="worktime" placeholder="Job worktime">{{ request.form['worktime'] }}</textarea>
    </div>
    <div>
      <label for="salary">Salary</label>
      <textarea name="salary" placeholder="Job salary">{{ request.form['salary'] }}</textarea>
    </div>
    <div>
      <label for="company">Company</label>
      <textarea name="company" placeholder="Job company"></textarea>
    </div>
    <div>
      <label for="userstate">Userstate</label>
      <textarea name="userstate" placeholder="userstate">{{ request.form['userstate'] }}</textarea>
    </div>
    <div>
      <label for="domain">Domain</label>
        <select name="category" placeholder="Job domain" class="form-control">
          <option value="domain1">Informatique</option>
          <option value="domain2">Restauration</option>
          <option value="domain3">Hottelerie</option>
        </select>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
  {% endblock %}
